<h1>Stock price checker</h1>
<form action="/search/stock/result">
  <label>
    Stock symbol
    <input type="string" name="stock" placeholder="GOOG" required>
  </label>
 <button>Get latest price</button>